.go-back{
    width: 65%;
    margin: 0 auto;
}

.go-back h1 {
    color: #E0E0E0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.bottom-go-back-container {
    height: 100px;
}

.bottom-go-back-button{
    width: 65%;
    margin: 0 auto;
}

.bottom-go-back-button h1 {
    color: #E0E0E0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 10%;
}

.bottom-go-back-button a {
    text-decoration: none;
}