@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #121212;
}

.introduction {
    width: 65%;
    margin: 0 auto;
    margin-top: 3%;
}

.title-container {
    width: 70%;
    margin-top: 7%;
}

.title-container h1 {
    color: #E0E0E0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 250%;
    margin-top: 40%;
    text-align: center;
}

.image-container {
    width: 120%;
    float: right;
}

.image {
    background-color: #1E1E1E;
    height: 100%;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
}

.image img {
    border-radius: 2%;
}

.about-description-container {
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    width: 65%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 1%;
}

.about-description-container h1 {
    color: #E0E0E0;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 40px;
    margin-top: 0.6%;
    font-weight: bold;
}

.about-description-container h2 {
    color: #E0E0E0;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 27px;
    margin-top: 0.6%;
}

.about-description-container p {
    color: #E0E0E0;
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 23px;
    margin-top: 0.6%;
}

.gameplay-video {
    border: 5px solid #7F00FF;
    border-radius: 1%;
    width: 65%;
    margin: 0 auto;
    margin-top: 5%;
}

.gameplay-video iframe {
    height: 700px;
    width: 100%;
}

.image-collection {
    width: 65%;
    margin: 0 auto;
}

.image-one-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: left;
}

.image-one-container img {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.image-two-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-two-container img {
    width: 100%;
}

.image-three-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-three-container img {
    width: 100%;
}

.image-four-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-four-container img {
    width: 100%;
}

.image-five-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-five-container img {
    width: 100%;
}

.image-six-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-six-container img {
    width: 100%;
}

.image-seven-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-seven-container img {
    width: 100%;
}

.image-eight-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-eight-container img {
    width: 100%;
}

.image-nine-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-nine-container img {
    width: 100%;
}

.image-ten-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-ten-container img {
    width: 100%;
}

.image-eleven-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-eleven-container img {
    width: 100%;
}

.image-twelve-container {
    width: 100%;
    margin-top: 15%;
    background-color: #1E1E1E;
    border: 5px solid #9B5DE5;
    border-radius: 3%;
    float: right;
}

.image-twelve-container img {
    width: 100%;
}