@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.mobile-message {
  display: none;
}

@media (max-width: 1024px) {
  .desktop-content {
    display: none;
  }

  .mobile-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10%;
  }

  .mobile-message h1 {
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
  }
}